@import "../variables";

body {
    background-color: rgb(254, 255, 247);

    font-family: "Lato", "Arial", "Tahoma", "Helvetica", sans-serif;
    font-size: 16px;
}

div.options-container {
    display: flex;
    flex-direction: column;

    .options-container-child {
        margin: 1em 0;

        &.align-children-vertically, .align-children-vertically {
            display: flex;
            align-items: baseline;

            * {
                line-height: inherit;
            }
        }
    }
}